*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  background: #f9f9f9;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Variables */
:root {
  --topbarHeight: 60px;
  --quadrantMargin: 5px;
  --quadrantPadding: 5px;
  --quadrantBorderThickness: 2px;
  --restOfScreenHeight: calc(100vh - var(--topbarHeight));
  --halfRestOfScreenHeight: calc(var(--restOfScreenHeight)/2);
  --innerQuadrantHeight: calc(var(--halfRestOfScreenHeight) - (var(--quadrantMargin) * 2) - var(--quadrantPadding) * 2 - var(--quadrantBorderThickness));
}

/* Topbar */
.topbar {
  width: 100%;
  height: var(--topbarHeight);
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.topbar h1 {
  padding-left: 15px;
  margin: 0px;
  font-size: 40px;
}

.visible-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}



.views-menu {
  display: flex;
}

/* Topbar */

/* Diagram */
/* Changes the diagram buttom to be horizontal */
.left {
  display: flex;
}

.top {
  display: flex;
}

.right-search {
  display: flex;
  gap: 10px;
}

.topbar-right {
  display: flex;
  align-items: center;
  align-content: center;
}

::placeholder {
  color: #cccccc;
}

.line {
  border: 2px solid black;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 2px;
  display: none;
}

.gridlayout {
  width: 100%;
  position: absolute;
  top: var(--topbarHeight);
  bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.quadrant {
  border: var(--quadrantBorderThickness) solid black;
  border-radius: 15px;
  background: #e5e5ff;
  padding: var(--quadrantPadding);
  margin: var(--quadrantMargin);
  overflow: hidden;
}

.reactflow-wrapper {
  background-color: white;
  border-radius: 15px;
  width: 100%;
  height: var(--innerQuadrantHeight);
}

.type p {
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.search-top, .quad-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.quad-head h2 {
  margin-bottom: 0;
  overflow: hidden;
  display: inline-block;
}

.views-menu {
  display: none;
  padding-right: 5px;
}

.Show {
  display: flex;
}

.Hide {
  display: none;
}

@media screen and (max-width: 782px) {

  .right-search {
    display: none;
  }

  .visible-layout {
    display: none;
  }

  .views-menu {
    display: flex;
  }

  button {
    display: none;
  }

}

@media (max-width: 835px) {

  .right-search input {
    width: 140px;
  }

}

.search-bottom {
  margin-left: 10px;
  margin-right: 10px;
  height: calc(var(--innerQuadrantHeight) - 90px);
  overflow: auto;
}

.left-search {
  margin: 0;
  margin-top: 20px;
}

/* /////////////////////////////////////// */
/* Schema Diagram */
.react-flow__node.myNodes {
  background: #e5e5ff;
  width: fit-content;
}

.react-flow {
  background: white;
}
/* ////////////////////////////////////// */

.class-box {
  overflow: auto;
  box-sizing: border-box;
  height: calc(var(--innerQuadrantHeight) - 90px);
  margin-left: 5px;
  margin-right: 5px;
}

.bottombar {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  height: 20px;
  overflow: hidden;
  width: 100%;
  padding-bottom: 2px;
}

.bottombar p {
  margin: 5px;
}

.view-full {
  border: var(--quadrantBorderThickness) solid black;
  border-radius: 15px;
  margin: var(--quadrantMargin);
  overflow: hidden;
}

.full-table {
  border: var(--quadrantBorderThickness) solid black;
  border-radius: 15px;
  background: #e5e5ff;
  margin: var(--quadrantMargin);
  overflow: hidden;
}

.table-div {
  margin: 0;
}

.table-container {
  height: calc(var(--innerQuadrantHeight) - 2px);
}

.table-cell {
  white-space: "normal";
  word-break: break-all;
}

.table-cell p {
  padding: 0;
  margin: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.settings-menu {
  margin: 0 5px 0 5px;
}

.close-drawer-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.setting-menu {
  margin-right: 10px;
}

.settings-menu p {
  padding-top: 30px;
}

.Dark {
  background-color: #555;
}

.customNode {
  height: 45px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  background: #ffd735;
}

.endpoint TextField {
  width: 500px;
}

.endpoint Button {
  margin-top: 5px;
}